1. What are data structures, and why are they important?


In Python data structures are organised ways for storage management of data and to retrieve it efficiently.
Data structures include lists, tuples, sets, dictionaries, trees, graphs etc . Every data structure is made to serve a unique purpose depending upon the necessity of manipulation of data. Data structures are important as they help in Optimisation of performance, simplification of complex data handling and making the code more reliable. Choosing the right data structure is very important as it impacts the speed and memory usage of the application full stop in software development, making them a foundational concept in programming.


2. Explain the difference between mutable and immutable data types with examples?


In Python mutable data types are defined as the data types that can be changed or altered after its creation whereas immutable data types cannot be changed once they are created.
Examples of mutable data types are lists on the other hand examples of immutable data types are strings and tuples by list can be changed or altered so it is known as mutual data types so they are known as immutable data types.
my_list = [1, 2, 3]
my_list.append(4)
my_string = "hello"
# my_string[0] = "H" → This will raise an error


 3. What are the main differences between lists and tuples in Python?


Tuples and lists are two data structures in the Python language and both are very important in coding.
Following are the difference between the two:
While list is mutable, that is it can be changed, once created whereas tuple remains immutable that is it cannot be changed after its creation.
e.g. #my_list = [1, 2, 3]
#my_list.append(4)
#output , my_list = [1, 2, 3, 4]
#my_tuple = (1, 2, 3)
# my_tuple[0] = 10  → This will throw an error
The syntax used for lists are [] whereas() are used for tuples.
Lists are slightly slower in performance with respect to tuple and it uses more memory than tuple.


4. Describe how dictionaries store data?


Dictionaries are data types in Python that store data in a unique key value pair system. Each key is designated as a unique entity and marks a unique specific value. Internal to store these pairs a hash table is used by Python which allows for fast look up insertions and Deletions. Example
#my_dict = {'name': 'Alice', 'age': 25}
#'name' is a key, 'Alice' is its value.
#'age' is a key, 25 is its value.
Python calculates a hash for each key.
That hash determines where to store the key-value pair in memory.
This enables constant-time access (O(1)) to values by their keys.


5. Why might you use a set instead of a list in Python?

Sets and lists are both unique functions having some advantages as well as some disadvantages over the other. Some of the most common scenarios due to which a set might be used instead of a list in Python are as follows:
First is uniqueness with means set automatically removes duplicate data so if only unique items are needed, set is an ideal data structure.
Second most important factor is faster lookup meaning the set has faster membership testing then list as the use hash table internally.
Set supports operations like Union intersection and difference which are great for comparing data.


6. What is a string in Python, and how is it different from a list?

In Python, a string is a sequence of characters enclosed in quotes (single ' ', double " ", or triple quotes). It’s used to represent text.
#example: my_string = "Avinash chitransh"
Following are the difference between strings and list:
   
    Data Type: A string is a sequence of characters, while a list is a sequence that can contain any data type, including integers, strings, floats, and more.
    Mutability: A string is immutable, meaning it cannot be changed after creation. A list is mutable, so you can add, remove, or modify its elements.
    Syntax: A string is always enclosed in quotes, like "1" or 'avinash'. A list is written with square brackets, like [1, 2, 3] or ["a", "b"].
    Elements: A string contains only characters, while a list can hold any type of elements — strings, numbers, booleans, even other lists.

7. How do tuples ensure data integrity in Python?


Tuple ensures Data integrity in Python as it is immutable. Once a tuple is created the content inside that tuple cannot be changed, i.e. no content can be added, removed or modified this makes a tuple ideal for storing data.
This matters due to various factors such as
It prevents accidental changes.
It is safe for use as keys in dictionaries or elements in sets.
It is reliable in a multithreaded environment as data can not be altered by other threats.

8. What is a hash table, and how does it relate to dictionaries in Python?


A hash table in Python is defined as a data structure that stores data in the form of keys and values and uses it for computation of any index or has places where each value is stored.
In Python dictionaries are implemented behind the scenes using a hash table. When a dictionary is created Python applies a Hash Function to each key.
#e.g. d={"name":"Avinash","age":30,"city":"Delhi"}
The result is determined by the value against the key stored in the memory. This allows fast access typically in constant time regardless of the size. They are very fast up looking insertion and deletion ready.

9. Can lists contain different data types in Python?

Yes, in Python a list is a data type that can contain different data types within the same list. Lists are one of the most powerful and flexible features of python. Example of a list containing multiple data type is:
#my_list = [1, 2, 3.5, True, 5+6j, ["Avinash", "Chitransh"]]
A Python list can include and integers a string, a float value, a Boolean value, a list within a list, a tuple, a dictionary etc. The flexibility of a list is great for collection of various types of related or and related data.

10. Explain why strings are immutable in Python?

In Python when we say immutability we mean that once the element has been created it cannot be chest. Strings are immutable in Python for ensuring safety, efficiency and performance of data.
Any operation for modification of any string will create a new string and won't change the existing. Strings are immutable due to the following factors:
Efficiency in memory: A string can be easily reused in memory as they cannot be changed.
Security and predictability: They are used in critical places like dictionaries as immutability ensures they remain constant.
Hashing support: An immutable object can be Hashed and used in a dictionary in the form of keys.

11. What advantages do dictionaries offer over lists for certain tasks?

In Python both dictionaries and lists are unique and have certain disadvantages and advantages over each other. Dictionaries in some cases offer several advantages over lists especially in cases of dealing with value pairs or fast look up.
It offers faster lookup dictionaries that provide 0(1) time complexity for accessing elements by key value as list does it by 0(n) method making it set through each item to find the value.
Meaningful key: Dictionaries use descriptive keys to classify the data, example name is place which makes it easier to access whereas list rely on index position which can sometimes be Messy.
Flexible structure: Dictionary has the ability to store heterogeneous data example strings numbers list staple etc with clear labels whereas lists are best for ordered sequences data and not label data.
Easier update: Updating specific values in the dictionary in the form of keys and values is much easier than in lists.

12. Describe a scenario where using a tuple would be preferable over a list?

A Tuple can be used preferably over a list in conditions where immutability is the primary goal. Let us take an example of location coordinates. A location coordinate of a place has to be stored; it should be immutable because the location coordinate will never change so in this case a tuple would preferably be used over a list to ensure data safety and integrity. As tuples are faster than lists so they use less memory and can also be used as a dictionary whereas list cannot.

13. How do sets handle duplicate values in Python?

Sets are a data type in Python that do not allow duplication of data. So if any duplicate values arise in a set it is automatically removed or discarded from the set.
#my_set = {1, 2, 3, 2, 4, 1}
#print(my_set)
#output {1, 2, 3, 4}

14. How does the “in” keyword work differently for lists and dictionaries?

In Python the “in” keyword is used in list and dictionary for membership testing, but there is a slight difference in how it works in both. In list the “in” keyword checks for the existence of the given value among the elements of the list. Whereas in a dictionary the in keyword checks for the existence of a key in a dictionary and not the value.
E.g.
#my_list = [1, 2, 3, 4]
#print(2 in my_list)   # True (2 is in the list)
#print(5 in my_list)    # False
#my_dict = {'name': 'Alice', 'age': 30}
#print('name' in my_dict)   # True (checks for key)
#print('Alice' in my_dict)   # False.

15. Can you modify the elements of a tuple? Explain why or why not?

No, you cannot modify elements of a tuple in Python. Tuples cannot be modified because they are immutable and its content cannot be changed after its creation; nothing can be added, removed or altered after once a tuple is created. This is done to ensure Data integrity, hashability and performance of the tuple.


16. What is a nested dictionary, and give an example of its use case?

A Nested dictionary in Python language is a dictionary with a dictionary as its value. It is used in case of storage of structure and hierarchical data like a dictionary inside a dictionary. It is used in cases of databases or records having multiple attributions, for organisation of data by category etc.
Following is an example of nested:
     # students = {
          "101": {"name": "Alice", "age": 20, "grade": "A"},
          "102": {"name": "Bob", "age": 22, "grade": "B"},
          "103": {"name": "Charlie", "age": 21, "grade": "A"}
      }
        print(students["101"]["name"])  # Output: Alice


17. Describe the time complexity of accessing elements in a dictionary?

The time complexity of accessing an element in the dictionary in Python language is 0(1) on average. Dictionaries are implemented in Python in the form of hash tables where keys are converted to Hash values directly mapping the memory location allowing constant time edit retrieval of data regardless of the size of the dictionary.
While the worst case scenario with hash collision could degrade to 0(n). Python's implementation of optimization collision handling maintains the near constant time of performance in practice.
When you access a value using my_dict[key], Python:
Computes the hash value of the key
Finds the corresponding memory location
Returns the stored value immediately

18. In what situations are lists preferred over dictionaries?

List in Python is preferred over dictionaries in cases where the situation demands are as follows:
The requirement is the maintenance of an order of elements useful for sequencing or positioning of items that are important.
When you need values and not key value pairs.
When we need to iterate over items in order, for example they are ideal for a loop where each item has to be processed one by one in a specific sequence.
In cases where duplication of data is allowed and in performance of multiple indexed operations.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

In earlier versions of python dictionaries were considered unordered i.e. the insertion order of key value fair wasn't guaranteed. The internal structure also known as we have stable wasn't made to preserve order but was meant only for faster access ensured by key.
Since the occurrence of python 3.7 and over dictionaries have started preservation of insertion order but are still referred to as unordered in concept as the main goal of dictionaries is fast key based access and not access on the base of order. The order has not to be relied on for logic unless it is needed specifically.
Data retrieval in python:
Access by key is fast (O(1)), but:
You cannot access by position/index like in a list.
You must know the key to retrieve its value.
If you loop through a dictionary (in Python 3.7+), it goes in insertion order, but this is a side feature, not the main purpose.


20. Explain the difference between a list and a dictionary in terms of data retrieval.

In lists access is by index i.e. retrieving of elements using numeric position starting from zero whereas in dictionary access is given by key so data retrieval is done using elements having unique keys and not position.
Lists have a faster lookup that is searching for a value on 0(n) time whereas in the dictionary they have a faster look by key as average 0(1) time.

In [1]:
name = "Avinash Chitransh"
print(name)

Avinash Chitransh

In [8]:
a= "Hello World"
print(len(a))
print(a.index("d"))

11
10

In [11]:
name = "Avinash Chitransh"
print(name[0:3])
print(name[1:])
print(name[:4])
print(name[1:4:2])
print(name[:])
print(name[: :2])

Avi
vinash Chitransh
Avin
vn
Avinash Chitransh
AiahCirnh

In [13]:
name = "Avinash Chitransh"
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.title())

AVINASH CHITRANSH
avinash chitransh
Avinash chitransh
Avinash Chitransh

In [17]:
s="I like apple"
s1=s.replace("apple", "oranges")
print(s1)

I like oranges

In [21]:
l=list(range(1,6))
print(l)

[1, 2, 3, 4, 5]

In [2]:
a= [1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [11]:
a= [1, 2, 3, 4, 5]
a.pop(2)
a

[1, 2, 4, 5]

In [6]:
a= [1, 2, 3, 4, 5]
a.remove(3)
a

[1, 2, 4, 5]

In [8]:
L_1= ['a', 'b', 'c', 'd']
L=L_1[1]
print("The second element is:",L)

The second element is: b

In [20]:
L_2=[10, 20, 30, 40, 50]
L_2.reverse()
print("The reverse oder of the list is:",L_2)

The reverse oder of the list is: [50, 40, 30, 20, 10]

In [19]:
t_1=(100,200,300)
print("The tuple is:",t_1)

The tuple is: (100, 200, 300)

In [22]:
t_2=('red', 'green', 'blue', 'yellow')
t_2=t_2[2]
print("The second-to-last element of the tuple is:",t_2)

The second-to-last element of the tuple is: blue

In [23]:
t_2=('red', 'green', 'blue', 'yellow')
t_2=t_2[-2]
print("The second-to-last element of the tuple is:",t_2)

The second-to-last element of the tuple is: blue

In [25]:
t_3=(10, 20, 5, 15)
t_3=(min(t_3))
print("The minimum number in the tuple is:",t_3)

The minimum number in the tuple is: 5

In [27]:
t_4= ('dog', 'cat', 'rabbit')
t_4=t_4.index("cat")
print("The index of cat is:",t_4)

The index of cat is: 1

In [31]:
a=input("Enter the name od the fruit:")
t_5= ("Apple", "Oranges", "kiwi","Banana","grapes","Mango")
for i in t_5:
  if a in t_5:
    print("The fruit is in the tuple")
    break
  else:
    print("The fruit is not in the tuple")
    break

Enter the name od the fruit:kiwi
The fruit is in the tuple

In [34]:
t_5= ("Apple", "Oranges", "kiwi","Banana","grapes","Mango")
if 'kiwi' in t_5:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple.

In [35]:
s={"a", "b", "c"}
print(s)
print(type(s))
print(len(s))

{'a', 'b', 'c'}
<class 'set'>
3

In [38]:
s_1= {1, 2, 3, 4, 5}
s_1.clear()
print("Set after clearing:", s_1)

Set after clearing: set()

In [4]:
 s_2={1, 2, 3, 4}
 s_2.remove(4)
 print("Set after removing:", s_2)

Set after removing: {1, 2, 3}

In [1]:
s_3={1, 2, 3}
s_4={3, 4, 5}
s_5=s_3.union(s_4)
print("Union of s_3 and s_4:", s_5)

Union of s_3 and s_4: {1, 2, 3, 4, 5}

In [2]:
s_3={1, 2, 3}
s_4={3, 4, 5}
s_5=(s_3|s_4)
print("Union of s_3 and s_4:", s_5)

Union of s_3 and s_4: {1, 2, 3, 4, 5}

In [6]:
s_6={1, 2, 3}
s_7={2, 3, 4}
s_8=s_6.intersection(s_7)
print("Intersection of s_6 and s_7:", s_8)

Intersection of s_6 and s_7: {2, 3}

In [7]:
s_6={1, 2, 3}
s_7={2, 3, 4,}
s_8=s_6&s_7
print("Intersection of s_6 and s_7:", s_8)

Intersection of s_6 and s_7: {2, 3}

In [9]:
d={"name":"Avinash","age":30,"city":"Delhi"}
print(d)

{'name': 'Avinash', 'age': 30, 'city': 'Delhi'}

In [10]:
d_1={"name": "John", "age": 25}
d_2={"country": "USA"}
d_1.update(d_2)
print("Updated dictionary:", d_1)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [14]:
d_3={'name': 'Alice', 'age': 30}
a=d_3["name"]
print("The value associated with 'name' is:", a)

The value associated with 'name' is: Alice

In [15]:
d_4= {'name': 'Bob', 'age': 22, 'city': 'New York'}
d_4.pop("age")
print("Updated dictionary:", d_4)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [19]:
d_4= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d_4["age"]
print(d_4)

{'name': 'Bob', 'city': 'New York'}

In [20]:
d_5= {'name': 'Alice', 'city': 'Paris'}
if "city" in d_5:
    print("The key 'city' is present in the dictionary.")
else:
    print("The key 'city' is not present in the dictionary.")

The key 'city' is present in the dictionary.

In [27]:
d_5= {'name': 'Alice', 'city': 'Paris'}
for i in d_5:
  if i=="city":
    print("The key 'city' is present in the dictionary.")
    break
  else:
    print("The key 'city' is not present in the dictionary.")

The key 'city' is not present in the dictionary.
The key 'city' is present in the dictionary.

In [36]:
# Creating a list
my_list = [1, 2, 3.5, True, 5+6j, ["Avinash", "Chitransh"]]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry', 1, 3 ,4.5, True, 4+6j)

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}
print(my_list, my_tuple,my_dict)
print(my_list, type(my_list))
print(my_tuple, type(my_tuple))
print(my_dict, type(my_dict))

[1, 2, 3.5, True, (5+6j), ['Avinash', 'Chitransh']] ('apple', 'banana', 'cherry', 1, 3, 4.5, True, (4+6j)) {'name': 'Alice', 'age': 30, 'city': 'Paris'}
[1, 2, 3.5, True, (5+6j), ['Avinash', 'Chitransh']] <class 'list'>
('apple', 'banana', 'cherry', 1, 3, 4.5, True, (4+6j)) <class 'tuple'>
{'name': 'Alice', 'age': 30, 'city': 'Paris'} <class 'dict'>

In [49]:
import random
a=[random.randint(1,100) for i in range(5)]
a.sort()
print("The sorted list in ascending order is:",a)

The sorted list in ascending order is: [29, 36, 53, 74, 76]

In [50]:
import random
a=[random.randint(1,100) for i in range(5)]
a.sort(reverse=True)
print("The sorted list in descending order is:",a)

The sorted list in descending order is: [95, 69, 65, 47, 19]

In [52]:
my_list = [1, 2, 3.5, True, 5+6j, ["Avinash", "Chitransh"]]
x=my_list[3]
print("The third index of the list is:", x)

The third index of the list is: True

In [55]:
d1 = {'name': 'Alice', 'age': 30, 'city': 'Paris'}
d2 = {"Fruit":"Mango", "country":"India"}
d3 = {**d1, **d2}
print("The combination of two dictionaries are:", d3)

The combination of two dictionaries are: {'name': 'Alice', 'age': 30, 'city': 'Paris', 'Fruit': 'Mango', 'country': 'India'}

In [56]:
my_list = ["Avinash", "Chitransh", "apple", "banana", "cherry"]
S=set(my_list)
print(S)

{'Avinash', 'Chitransh', 'cherry', 'banana', 'apple'}